.profil-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 1.5rem;
}
.img-profil-article {
  background-color: #a47f90e3;
  padding-bottom: 2rem;
  background-blend-mode: color;
  object-fit: cover;
}
.social-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
.contact-img-article {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-left: 4rem;
  margin-right: 4rem;
}
.btn-article {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}
.main-div {
  background-color: rgb(93, 53, 53);
  width: 22rem;
  margin-right: 10rem;
  margin-left: 11rem;
  height: 30rem;
}
